* {
    /*Set Global Primary and Secondary Color Variables*/

    -fx--primary: #039be5;
    -fx--primary-dark: #006db3;
    -fx--primary-light: #63ccff;

    -fx--secondary: #546e7a;
    -fx--secondary-light: #819ca9;
    -fx--secondary-dark: #29434e;

    -fx--error: #D34336;
}

/*--------------------------
    JFX [FORM] FIELD STYLES
---------------------------*/

JFXTextField, JFXTextArea, JFXComboBox, JFXPasswordField {
    -fx-background-color: rgba(0,0,0,.05); /*form bounding box color*/ /*todo, set to variable for the rgba colors?*/
    -jfx-unfocus-color: rgba(0,0,0,.42); /*bottom line unfocused*/
    -jfx-focus-color: -fx--primary; /*bottom line focused*/
    -jfx-label-float: true; /*label will float above when field is selected*/
    -fx-prompt-text-fill: #808080; /*prompt text before entry*/
}

JFXTextField:hover, JFXTextArea:hover, JFXComboBox:hover, JFXPasswordField:hover {
    -fx-background-color: rgba(0,0,0,.1); /*form bounding box color*/
    -jfx-unfocus-color: rgba(0,0,0,.87); /*bottom line unfocused*/
    -jfx-focus-color: -fx--primary; /*bottom line focused*/
}

JFXTextField:pressed, JFXTextArea:pressed, JFXComboBox:pressed, JFXPasswordField:pressed {}

/*Error Styles*/
.jfx-text-field:error, .jfx-password-field:error, .jfx-text-area:error {
    -jfx-focus-color: -fx--error;
    -jfx-unfocus-color: -fx--error;
}

/*Error Styles*/
.jfx-text-field .error-label, .jfx-password-field .error-label, .jfx-text-area .error-label {
    -fx-text-fill: -fx--error;
    -fx-font-size: 0.75em;
}

/*Error Styles*/
.jfx-text-field .error-icon, .jfx-password-field .error-icon, .jfx-text-area .error-icon {
    -fx-text-fill: -fx--error;
    -fx-font-size: 1em;
}

.submit-button {
    -jfx-button-type: RAISED;
    -fx-text-fill: WHITE;
    -fx-background-color: -fx--primary;
}

.submit-button:hover {
    -jfx-button-type: RAISED;
    -fx-text-fill: WHITE;
    -fx-background-color: -fx--primary-dark;
}

.cancel-button { /*todo, a reddish color for cancel buttons?*/
    -jfx-button-type: FLAT;
    -fx-border-color: -fx--secondary-light;
    /*-fx-background-radius: 100px;*/
}

.default-button {
    -jfx-button-type: FLAT;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-text-fill: -fx--primary;
    -fx-border-color:  -fx--primary;
}

.default-button:hover {
    -fx-text-fill: -fx--primary-dark;
    -fx-background-color: #a2dcfd;
}

.login-button {
    -fx-background-color: -fx--primary-dark;
    -fx-border-color: -fx--primary-light;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-font-family: 'Arial Black';
    -fx-font-size: 14px;
}

.login-button:hover {
    -fx-background-color: -fx--primary;
}

.back-button {
    -fx-background-color: -fx--primary-dark;
    -fx-border-color: -fx--primary-light;
    -fx-text-fill: WHITE;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.back-button:hover {
    -fx-background-color: -fx--primary;
}

.normal-button {
    -jfx-button-type: RAISED;
    -fx-background-color: WHITE;
    -fx-text-fill: BLACK;
}

.normal-button:hover {
    -jfx-button-type: RAISED;
    -fx-background-color: -fx--primary-light;
    -fx-text-fill: BLACK;
}


/*Toggle buttons*/
JFXToggleButton  {
    -jfx-toggle-color: -fx--primary;
    -jfx-untoggle-color: -fx--primary;
    -jfx-toggle-line-color: -fx--primary-light;
    -jfx-untoggle-line-color: lightgrey;
    -jfx-size: 10.0;
    -jfx-disable-visual-focus: false;
}

/*------------------------
    APP BAR COMPONENT
-------------------------*/

/*Entire top bar group (includes both -main and -upper)*/
#app-bar-top {
    /*Drop Shadow, bottom of app-bar*/
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0, 0);
    -fx-background-color: -fx--primary;
}

/*Uppermost slim segment of App Bar*/
#app-bar-top-upper {
    -fx-background-color: -fx--primary-dark;
}

/*Main segment of App Bar*/
#app-bar-top-main {
    -fx-background-color: -fx--primary;
}

/*App bar buttons on hover*/
.app-bar-button:hover {
    -fx-fill: #63ccff;
}

/*App bar buttons default*/
.app-bar-button {
    -fx-fill: #039be5;
}


/*------------------------
    FONTS AND HEADERS
--------------------------*/
.h1 { /*todo*/
    -fx-text-fill: white;
    -fx-font-size: 1.25em;
    -fx-font-family: Roboto;
}


/*-----------------------*/

.body { /*to be applied to root element, todo change name to main?*/
    -fx-background-color: white;
    /*-fx-font-family: Roboto;*/
}

/*------------------------
    SNACKBAR STYLES
--------------------------*/

.jfx-snackbar-content {
    -fx-background-color: #323232;
}
.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
}
.jfx-snackbar-action {
    -fx-text-fill: #ff4081;
}

/*------------------------
    SLIDER STYLES
--------------------------*/

/* Styling the slider track */
.jfx-slider > .track {
    -fx-background-color: -fx--primary-light;
}

/* Styling the slider thumb */
.jfx-slider > .thumb {
    -fx-background-color: -fx--primary-dark;
}

/* Styling the filled track */
.jfx-slider > .colored-track {
    -fx-background-color: -fx--primary;
}

/* Styling the animated thumb */
.jfx-slider > .animated-thumb {
    -fx-background-color: -fx--primary-dark;
}

/* Styling the slider value text inside animated thumb */
.jfx-slider .slider-value {
    -fx-fill: white;
    -fx-stroke: white;
}

/*remove horizontal scrollbar*/
.list-view .scroll-bar:horizontal {
    -fx-scale-x: 0;
}

/*todo style centerPane

/*.centerPane {*/
/*    -fx-background-color: red;*/
/*}*/

/*------------------------
    Icon STYLES
--------------------------*/
MaterialDesignIconView {
    -fx-fill: -fx--primary;
}

MaterialDesignIconViewAlt {
    -fx-fill: WHITE;
}

FontAwesomeIconView {
    -fx-fill: -fx--primary;
}

#submission-icon {
    -fx-fill: #368509;
}

#white-icon {
    -fx-fill: WHITE;
}

#black-icon {
    -fx-fill: BLACK;
}

#red-icon {
    -fx-fill: RED;
}

JFXButton:hover MaterialDesignIconView {
    -fx-fill: -fx--primary-dark;
}

JFXButton:hover FontAwesomeIconView {
    -fx-fill: -fx--primary-dark;
}

.table-row-cell{
    -fx-cell-size: 200;
}

/*Tree Table View styles*/
.jfx-tree-table-view {
    -fx-tree-table-color: rgba(3, 155, 229, 0.4);
    -jfx-header-color: -fx--primary-dark; /*header text color*/
}

/*------------------------
    LABEL STYLES
-------------------------*/
.create-account-label:hover {
    -fx-text-fill: -fx--primary-dark;
}

.icon-button {
    -fx-fill: WHITE;
}

.transit-button{
    -jfx-button-type: RAISED;
}

.floor-change Label{
    -fx-font-size: 10px;
    -fx-background-color: WHITE;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: BLACK;
    -fx-border-width: 1px;
}



/* ListView CSS from: https://blog.ngopal.com.np/2012/07/11/customize-scrollbar-via-css/*/

scrollables.directions .jfx-rippler{
    -jfx-rippler-fill: rgba(255,255,255,0);
}

scrollables.directions{
    -fx-border-color: rgba(255,255,255,0);
}

/* The main scrollbar CSS class of ListView */
.scrollables .scroll-bar:horizontal {
    -fx-pref-width: 12;
    -fx-background-color:transparent;
}

.scrollables  .scroll-bar:vertical{
    -fx-pref-width: 12;
    -fx-background-color:transparent;

}

/* The increment and decrement button CSS class of scrollbar */
.scrollables .increment-button ,.scrollables .decrement-button {
    -fx-background-color:transparent;
    -fx-border-color:derive(gray,80%);
}

/* The main scrollbar **track** CSS class  */
.scrollables .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color:derive(gray,80%);
    -fx-background-radius: 0em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scrollables .scroll-bar:vertical .thumb {
    -fx-background-color: -fx--primary;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

.directions .scroll-bar:horizontal {
    -fx-pref-width: 0;
}

.jfx-dialog{
    -fx-effect: null;
}

.iconTable {
    -fx-font-family:"Material Design Icons";
    -fx-font-size: 2em;
    -fx-text-fill: -fx--primary-dark;
}

.noheader .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.table-row-cell {
    -fx-cell-size: 2.1em;
}

.custom-jfx-check-box {
    -jfx-checked-color: -fx--primary;
    -jfx-unchecked-color: BLACK;
}